
   

    <div class="container">
        <div class="jumbotron">
            <h1>{{title}}</h1>
            <h3>Disfruta de las publicaciones del resto del mundo y comparte tus pensamientos!</h3>
            <p>
  
              <a  href="#" class="btn btn-success btn-lg" role="button">
                  Mi perfil
            </a>
                <a  href="#" class="btn btn-primary btn-lg" role="button">
                      Timeline
                </a>
                <a  href="#" class="btn btn-default btn-lg" role="button">
                  Gente
            </a>
            </p>
        </div>
    </div>
       



