/*GENERALES*/
.h1-strong{
    font-size:35px;
    font-weight: bold;
    /* margin-left: 13px; */
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
}
.active{

    background-color:whitesmoke;
    
    
}
.bg-dark{
    background-color: grey !important;
}
.navbar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px !important;

}

    .jumbotron{
        text-align: center;
    }
.container{
    width: 100% !important;
}

.dropdown-menu>li>a{
    color: grey !important;

}
.dropdown-menu>li>a:hover{
    color: black !important;
}
.pointer{
    cursor: pointer;
}
.img{
    border-radius: 70%;
    width: 45px;
    height: 35px;
    overflow: hidden;
    margin-top: 5px;
    margin-right: 5px !important;
}


/*GENTE */
 .item-user ,
 .item-publication{
     padding-top: -20px;
     border: 2px solid #444444;
     overflow: hidden;
 }
.item-user .image-user img,
.item-publication .image-user{
    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 10px;
    margin-left: 30px;
    margin-top: 10px;
    
    
}
.user-name{
    margin-top:0px;
}

.item-user .user-name .nickname{
   color:#969393;
   font-weight: bold;
}
.item-user .user-name .name-surname a{
    color:#444;
    font-weight: bold;
    margin-top: 20px;
}
.btn{
    padding: 10px;
}

/**SIDEBAR**/

.sidebar-32{
    width: 55% !important;
    padding: 0px !important;
}
#user-card,#new-publication{
    padding:25px;
    width: 72%;
    padding-left: 20px;
  
}
#new-publication{
    padding: 18px;
    padding-left: 10px;
}
.avatar{
    width:100px;
    height:75px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 15px;
   
  
}
#user-card
.avatar img{
   width: 100%; 
   height: 100%;
}

#user-card .name-surname{
    font-weight:300;
    font-size: 17px;
}

#user-card .name-surname a{
    color: #555;
}
#user-card .name-surname .nickname{
    color: #969393;
}
#user-card .name-surname .label-stats{
    border: 2px solid #eee;
    margin-top:10px;
}   
#user-card .number-stats{
   font-weight: bold;
   color: green;
}  

#user-card .stats{

   border-top:1px solid #eee;
}
#user-card .stats a:hover{

    text-decoration: none;

 }
 #user-card .stats a:hover .number-stats{
    font-weight: bold;
   color: #cc1717;

 }

 #user-card .label-stats,
 #user-card .number-stats{
     display: block;
     text-align: center;
     transition: all 300ms;
 }
#user-card .following-data{
    float: center;
    padding-right:4px ;
    padding-left:4px ;
    margin-top: 10px;
    border-right: 2px solid #eee;
    border-left: 2px solid #eee;
}

#user-card .following-data:first-child{
    padding-left: 6px;
  }
#user-card .label-stats{
    font-weight: bold;
    color: #555;
}

/*TIMELINE*/

#publications{
    min-width: 500px;
}


.date{
    float: left;

}


/*PERFIL*/

#data-profile{
    
    margin-top: 30px;
    min-height: 300px;
}
#data-profile .avatar{
    width:185px;
    height:185px;
    border-radius: 400px;
    overflow: hidden;
  
}
#data-profile .avatar img{
   width: 105%;
   height: 100%;
}
.datos-perfil p .name .surname{
   padding-left: 150px;
   padding-top: 150px;
}

#data-profile .name-surname .username{
    font-size:25px;
    font-weight: bold;
    color:#555;
}

#data-profile .name-surname .nick{
    font-size:20px;
    font-weight: normal;
    color:grey;
}

#data-profile .stats{
border-left: 4px solid #eee;
margin-left: 35px;
padding-left: 25px;
height: 180px;
}
#data-profile .stats a{
    font-size: 20px;
    line-height: 35px;
    color: #555;
}
#data-profile #publications{
    margin-top: 50px;
}